{% extends 'base.html' %}

{% block content %}

<h1>Dashboard</h1>
<p>Everything goes here!</p>


<h2>Add a New Note</h2>
<form method="POST">
  {% csrf_token %}
  <label for="title">Title:</label><br>
  <input type="text" id="title" name="title" required><br><br>

  <label for="text">Text:</label><br>
  <textarea id="text" name="text" rows="4" required></textarea><br><br>

  <button type="submit">Add Note</button>
</form>

<hr>
<h2>My Notes</h2>

{% if notes %}
    <ul>
    {% for note in notes %}
        <li>
            <h2>{{ note.title }}</h2>
            <p>{{ note.text }}</p>
            <h6>{{ note.timestamp|date:"M d, Y H:i" }}</h6>

            <a href="{% url 'edit_note' note.pk %}">Edit</a> |
            <a href="{% url 'delete_note' note.pk %}">Delete</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>You have no notes yet.</p>
{% endif %}
{%endblock%}
