{% extends 'base.html' %}

{% block content %}
<h1>Quiz for Module {{ module.id }}: {{ module.title }}</h1>

{% for question in questions %}
<hr>

  {% if user.is_staff %}
    <a href="{% url 'question_edit' question.id %}">Edit</a>
    <a href="{% url 'question_delete' question.id %}">Delete</a>
  {% endif %}

  <form action="" method="post">
    {% csrf_token %}
        <div>
            <p><b>{{ forloop.counter }}. {{ question.text }}</b></p>
            {% for answer in question.answers.all %}
              <div>
                <label>
                  <input
                    type="radio"
                    name="question_{{ question.id }}"
                    value="{{ answer.id }}"
                    required
                    >
                    {{ answer.text }}
                <label>
              </div>
          {% endfor %}
        </div>
      {% endfor %}
      <hr>
      <button type="submit">Submit Answers</button>
  </form>
{% endblock %}
